/* SETUP */
@font-face {
    font-family: Raleway;
    src: url(Raleway-VariableFont_wght.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Raleway;
    box-sizing: border-box;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .3s;
    transition-timing-function: ease;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

body {
    color: black;
    background-color: #12181b;
    height: 100%;
    width: 100%;
}

.border {
    border: 2px solid;
    border-color: red;
}

/* NAVBAR */
header {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.columns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.navlinks {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.navlinks p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-weight: 800;
    font-size: 1.8em;
}

.logo a {
    color: #f9f9f9;
}

.logo:hover {
    cursor: context-menu;
}

.logo:hover a {
    cursor: context-menu;
}

.navlink {
    letter-spacing: 0;
    color: #f9f9f9;
}

.navlink:hover {
    color: #3b947f;
    letter-spacing: 5px;
}

@media screen and (max-width: 600px) {
    .navlinks {
        visibility: hidden;
    }
}

@media screen and (max-width: 465px) {
    .logo {
        font-size: 1.4em;
    }

    .hero {
        padding-top: 0;
    }
}



.hero {
    height: 700px;
    background-color: #3b947f;
    padding-top: 100px;
    position: relative;
}

.mountains {
    position: absolute;
    bottom: -1px;
    margin: 0px;
    max-width: 100%;
    height: auto;   
}


.hero .main {
    display: grid;
    place-items: center;
    height: 500px;
}

.maintext h1 {
    font-size: 5em;
    font-weight: 800;
}

.offer p {
    font-size: 1.5em;
    font-weight: 500;
    width: 1000px;
    text-align: center;
}

.maintext {
    width: 800px;
    text-align: center;
}

.action-btn a {
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    border: none;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    background: #053c34;
    color: #f9f9f9;
    transition: color 100ms;
}

.action-btn a span {
    position: relative;
    z-index: 2;
}

.action-btn a:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #f9f9f9;
    transition: all .35s;
}

.action-btn a:hover {
    color: black;
}

.action-btn a:hover:after {
    width: 100%;
}



@media screen and (max-width: 1030px) {
    .offer p {
        width: 500px;
    }

}

@media screen and (max-width: 810px) {
    .maintext {
        width: 500px;
        text-align: center;
    }

    .maintext h1 {
        font-size: 2em;
    }

    .offer p {
        font-size: 1em;
    }

    .hero .main {
        height: 300px;
    }

    .hero {
        height: 600px;
    }
}


@media screen and (max-width: 508px) {
    .maintext h1 {
        font-size: 1.5em;
    }

    .maintext {
        width: 300px;
    }

    .offer p {
        width: 300px;
        font-weight: 500;
    }

    .logo a {
        font-size: .8em;
    }

    .hero {
       height: 500px;
    }
}

@media screen and (max-width: 280px) {
    .maintext {
        width: 200px;
    }

    .offer p {
        width: 200px;
    }

    .offer {
        margin-bottom: 20px;
    }

    .hero {
        height: 350px;
    }

}


/* @media screen and (max-height: 760px) {
    .hero {
        height: 500px;
    }
}

@media screen and (max-height: 640px) {
    .hero {
        height: 470px;
    }
}

@media screen and (max-height: 590px) {
    .hero {
        height: 400px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .main {
        height: 100px;
    }
} */


.sub {
    height: 1000px;
    background: rgb(18, 24, 27);
    background: linear-gradient(180deg, rgba(18, 24, 27, 1) 24%, rgba(29, 35, 48, 1) 81%);
}